$backdrop-scale: 5;

@keyframes backdrop-animation {
  0% {
    left: 75%;
  }
  50% {
    left: 25%;
  }
  100% {
    left: 75%;
  }
}

.backdrop {
  position: absolute;
  display: block;

  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%) scale(5);

  width: 768px;
  height: 1520px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  filter: blur(20px);
  opacity: 0.4;

  z-index: 0;
  transition: background-image 0.5s ease-in-out;

  animation-name: backdrop-animation;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
