.painting {
  position: relative;
  display: block;

  aspect-ratio: 512 / 768;
  min-width: 409.6px;
  max-width: 409.6px;
  width: 100%;

  background-color: dodgerblue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  transition: background-image 0.5s ease-in-out;

  border-radius: 3px;
}
