#app {
  position: relative;
  display: block;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  cursor: none;
}

.loading-screen {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: black;

  h2 {
    position: relative;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 480px;
    max-height: 360px;
  }
}
