:root {
  --inter: 'Inter', sans-serif;
  --space-mono: 'Space Mono', monospace;
  --space-grotesk: 'Space Grotesk', sans-serif;

  --border-radius: 4px;
  --bezier: cubic-bezier(0.04, 1, 0.33, 1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  font-family: var(--inter);
  font-size: 24px;

  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;
}

$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);

$spaces: (
  0: 0,
  1: 0.5rem,
  2: 1rem,
  3: 2rem,
  4: 3rem,
  5: 4rem,
  6: 5rem,
);

// pl-0, pl-1, pl-2, pl-3, pl-4, pl-5
@each $direction-key, $direction-value in $directions {
  @each $space-key, $space-value in $spaces {
    .p#{$direction-key}-#{$space-key} {
      padding-#{$direction-value}: $space-value;
    }

    .m#{$direction-key}-#{$space-key} {
      margin-#{$direction-value}: $space-value;
    }
  }
}

p {
  font-family: var(--inter);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2em;

  color: rgba(white, 0.5);
}

h1 {
  font-family: var(--space-grotesk);
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2;

  text-transform: uppercase;
  color: white;
}

h2 {
  font-family: var(--space-grotesk);
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;

  text-transform: uppercase;
  color: white;
}

button {
  font-family: var(--inter);
  font-size: 1rem;
  font-weight: 500;

  width: fit-content;
  padding: 0.65em 0.9em 0.7em 0.9em;

  color: white;
  background-color: rgba(white, 0.2);
  border-radius: var(--border-radius);
  border: none;

  transition: background-color 0.5s var(--bezier);

  backdrop-filter: blur(10px);
  cursor: pointer;

  &:hover {
    background-color: rgba(white, 0.3);
  }

  p {
    color: white;
    font-weight: 500;
  }
}
