:root {
  --inter: 'Inter', sans-serif;
  --space-mono: 'Space Mono', monospace;
  --space-grotesk: 'Space Grotesk', sans-serif;

  --border-radius: 9px;
  --bezier: cubic-bezier(0.04, 1.8, 0.33, 1);
  --bezier-2: cubic-bezier(0.04, 1, 0.33, 1);

  --secondary: #111111;

  --primary: #222222;
  --primary-500: #232323;
  --primary-600: #282828;
  --primary-700: #3a3a3a;
  --primary-800: #878787;
  --primary-900: #b0b1b3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  cursor: none;
}

html,
body,
#root {
  font-family: var(--inter);
  font-size: 24px;

  background-color: black;
  color: white;
  width: 100vw;
  height: 100vh;

  cursor: none;
}

$directions: (
  t: top,
  r: right,
  b: bottom,
  l: left,
);

$spaces: (
  0: 0,
  1: 0.5rem,
  2: 1rem,
  3: 2rem,
  4: 3rem,
  5: 4rem,
  6: 5rem,
);

// pl-0, pl-1, pl-2, pl-3, pl-4, pl-5
@each $direction-key, $direction-value in $directions {
  @each $space-key, $space-value in $spaces {
    .p#{$direction-key}-#{$space-key} {
      padding-#{$direction-value}: $space-value;
    }

    .m#{$direction-key}-#{$space-key} {
      margin-#{$direction-value}: $space-value;
    }
  }
}
